:root{
    --color-1: #182933;
    --color-2: #1f4761;
    --color-3: #ffa300;
    --color-4: #ffc61a;
}
html{
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    height: 100%;

    background-color: var(--color-1);  
}  
.wrapper{
    margin-left: auto;
    margin-right: auto;
    /* width: 500px; */
    height: 100%;
    text-align: center;
    font-family: 'Pangolin', cursive;

    padding-top: 4%;

    background-image: url("images/stars-2.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
           
}

header h1{
    color:var(--color-4);
}

#title-image {
    width: 350px;
    height: auto;
    padding-bottom: 10px;    
}

h3 {
    margin: 15px 0;
    display: inline-block;
}

.prompt-words{
    max-width: 450px;
    width: 100%;
    padding: 10px 0 20px 0;
    margin: 0 auto 25px auto;
    font-size: 20px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 15px 10px #11212b;
}

.Word-theme {
    font-size: 20px;
    font-weight: 600;
    display: block;
}

.Word-theme.isRolling{
    color: gray;
}

.btn-generate{
    background-color: var(--color-2);
    font-family: 'Pangolin', cursive;
    font-size: 20px;
    color: white;
    padding:5px 20px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

.btn-generate:hover{
    background-color: var(--color-3);
}

.color-palette{
    width: 100%;
    display: block;
}

.color-palette span{
    width: 130px;
    color: white;
    padding: 5px;
    display: inline-block;
}

.color-palette div {
    padding: 3px;
}

.color-texts{
    text-align: center;
}

.btn-again{
    visibility: hidden;
    width: 30px;
    border: none;
    background: none;
    color: var(--color-3);

}
.theme-box{
    display: block;
}
.theme-box input[type = "number"]{
    width: 50px;

}

.user-input{
    margin-left: 8px;
    height: 25px;
    width: 35px;
}

footer{
    padding-top: 30px;
    font-size: 18px;
    color: var(--color-4);
}

footer a {
    text-decoration: none;  
    color: var(--color-4);
}

footer a:hover{
    color: var(--color-2);
    text-decoration: underline;
}
